$retro-shadow-green: #357620;
$retro-shadow-pink: #5d298b;

@keyframes msdos-cursor {
  50% {
    visibility: hidden;
  }
}
@-webkit-keyframes msdos-cursor {
  50% {
    visibility: hidden;
  }
}

@keyframes msdos-cursor-title {
  50% {
    content: ">_";
  }
}
@-webkit-keyframes msdos-cursor-title {
  50% {
    content: ">_";
  }
}

.markdown-body {
  font-family: inherit;
  @apply .mb-8;

  .anchor {
    float: none;
  }
  blockquote {
    @apply .mb-8 .mx-2 .px-4 .border-l-4 .border-pink .italic;

    p {
      @apply .text-window-button;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    border-bottom: none;
    @apply .font-dos .uppercase;
  }

  span.pl-s1, div>pre {
    color: black;
  }

  p code, li code {
    @apply .text-pink .font-bold .italic .border-none;
  }

  h1 {
    @apply retro-title-1 text-green;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "C:\\";
  }

  h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content:">";
  }

  h2 {
    @apply retro-title-2 text-green text-3xl;
  }

  h3 {
    @apply retro-title-3 text-green;
  }

  h4 {
    @apply retro-title-4 text-green;
  }

  h5 {
    @apply retro-title-5 text-green;
  }

  h6 {
    @apply retro-title-6 text-green;
  }
}


a {
  text-underline-position: under;
}

li {
  @apply my-2;
}

p {
  @apply .text-xl;
}

.article-title {
  @apply .text-pink .font-amiga .uppercase .font-bold .text-xl .relative;
  text-shadow: 3px 3px $retro-shadow-pink;
}

.retro-title-1 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 3px 3px $retro-shadow-green;
}

.retro-title-2 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 2px 2px $retro-shadow-green;
}

.retro-title-3 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 2px 2px $retro-shadow-green;
}

.retro-title-4 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 2px 2px $retro-shadow-green;
}

.retro-title-5 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 1px 1px $retro-shadow-green;
}

.retro-title-6 {
  @apply .text-green .font-dos .uppercase .pt-12 .mb-6;
  text-shadow: 1px 1px $retro-shadow-green;
}


nav li:hover {
  transform: translateY(-8%);
  transition: 0.2s;
}

.shadow-green {
  text-shadow: 3px 3px $retro-shadow-green;
}

.shadow-white {
  text-shadow: 3px 3px #888888;
}

.shadow-green-sm {
  text-shadow: 2px 2px $retro-shadow-green;
}

.shadow-white-sm {
  text-shadow: 2px 2px #888888;
}

/*
 Put the cursor underline effect only in desktop since safari will force you to click twice
 on the link to visit it...
 More info: https://css-tricks.com/annoying-mobile-double-tap-link-issue
*/

@media (min-width: 500px) {

  *:hover[class*='retro-title']::after, .article-title:hover::after {
    content: '_';
    animation: msdos-cursor 1s step-start 0s infinite;
    -webkit-animation: msdos-cursor 1s step-start 0s infinite;
  }

  .markdown-body>h1:hover::after, .markdown-body>h2:hover::after, .markdown-body>h3:hover::after, .markdown-body>h4:hover::after, .markdown-body>h5:hover::after, .markdown-body>h6:hover::after {
    animation: msdos-cursor-title 1s step-start 0s infinite;
    -webkit-animation: msdos-cursor-title 1s step-start 0s infinite;
  }
}

::selection {
  background: #ff00db; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #ff00db; /* Gecko Browsers */
}