pre {
    @apply .mt-8 .mb-8;
}

pre code {
    @apply .text-base .leading-normal .font-mono .p-6 .block .bg-white .border .border-grey-light .overflow-x-scroll;
}

p code {
  @apply .text-base .leading-normal .font-mono .px-1 .bg-white .border .border-grey-light .rounded-sm;
}
